In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('final_data.csv')

In [17]:
df = df.rename(columns={'average_soil_temperature': 'average_air_temperature'})

In [18]:
df.to_csv('final_data.csv',index=False)

In [5]:
df.head(1)

,Unnamed: 0,site,tree,plot,species,Date,longitude,latitude,da,mo,...,yr,average_stem_radius,change_stem_radius,average_basal_area,change_basal_area,average_soil_temperature,average_air_pressure,average_humidity,avg_solar_irradiance,avg_soil_water_content
0,1,AK,1A,1,P glauca,2019-01-01,-149.71571,68.018576,1,1,...,2019,10.471403,0.002,344.476504,0.131595,-4.218056,89.953835,0.840035,0.0,0.077694

In [7]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0 site tree  plot   species        Date  longitude   latitude  \
0               1   AK   1A     1  P glauca  2019-01-01 -149.71571  68.018576
1               2   AK   1A     1  P glauca  2019-02-01 -149.71571  68.018576
2               3   AK   1A     1  P glauca  2019-03-01 -149.71571  68.018576
3               4   AK   1A     1  P glauca  2019-05-01 -149.71571  68.018576
4               5   AK   1A     1  P glauca  2019-06-01 -149.71571  68.018576
...           ...  ...  ...   ...       ...         ...        ...        ...
23452       31844   AK   6F     6  P glauca  2018-07-31 -149.76103  67.972423
23453       31845   AK   6F     6  P glauca  2019-07-31 -149.76103  67.972423
23454       31847   AK   6F     6  P glauca  2017-08-31 -149.76103  67.972423
23455       31848   AK   6F     6  P glauca  2018-08-31 -149.76103  67.972423
23456       31850   AK   6F     6  P glauca  2017-12-31 -149.76103  67.972423

       da  mo  ...    yr  average_stem_radius  change_stem_radius  \
0       1   1  ...  2019            10.471403               0.002
1       1   2  ...  2019            10.457236               0.001
2       1   3  ...  2019            10.463347               0.001
3       1   5  ...  2019            10.464564               0.005
4       1   6  ...  2019            10.543083               0.002
...    ..  ..  ...   ...                  ...                 ...
23452  31   7  ...  2018             6.482833               0.007
23453  31   7  ...  2019             6.488403               0.005
23454  31   8  ...  2017             6.478501               0.005
23455  31   8  ...  2018             6.485917               0.016
23456  31  12  ...  2017             6.440238               0.005

       average_basal_area  change_basal_area  average_soil_temperature  \
0              344.476504           0.131595                 -4.218056
1              343.545055           0.065706                 -5.662500
2              343.946701           0.065744                 -4.797222
3              344.026717           0.328752                  0.015385
4              349.208780           0.132487                  5.043056
...                   ...                ...                       ...
23452          132.032135           0.285159                  2.542088
23453          132.259082           0.203811                  2.899532
23454          131.855736           0.203517                  0.420185
23455          132.157787           0.651943                  0.863759
23456          130.302774           0.202355                 -2.561539

       average_air_pressure  average_humidity  avg_solar_irradiance  \
0                 89.953835          0.840035              0.000000
1                 93.803372          0.763849              1.619657
2                 93.997761          0.527651              0.000000
3                 93.797640          0.562969            185.708290
4                 92.596726          0.415431            212.142556
...                     ...               ...                   ...
23452             93.833089          0.743574             40.346781
23453             92.786028          0.778404             23.797353
23454             92.158687          0.812167             40.582021
23455             92.696263          0.627486             69.910685
23456                   NaN               NaN              0.000000

       avg_soil_water_content
0                    0.077694
1                    0.073754
2                    0.074172
3                    0.098590
4                    0.289046
...                       ...
23452                0.444988
23453                0.460760
23454                     NaN
23455                0.448841
23456                     NaN

[23457 rows x 21 columns]>

In [ ]:
df['freeze_flag'] = (df['average_air_temperature'] < 0).astype(int)

In [10]:
df.head()

,Unnamed: 0,site,tree,plot,species,Date,longitude,latitude,da,mo,...,average_stem_radius,change_stem_radius,average_basal_area,change_basal_area,average_air_temperature,average_air_pressure,average_humidity,avg_solar_irradiance,avg_soil_water_content,freeze_flag
0,1,AK,1A,1,P glauca,2019-01-01,-149.71571,68.018576,1,1,...,10.471403,0.002,344.476504,0.131595,-4.218056,89.953835,0.840035,0.000000,0.077694,1
1,2,AK,1A,1,P glauca,2019-02-01,-149.71571,68.018576,1,2,...,10.457236,0.001,343.545055,0.065706,-5.662500,93.803372,0.763849,1.619657,0.073754,1
2,3,AK,1A,1,P glauca,2019-03-01,-149.71571,68.018576,1,3,...,10.463347,0.001,343.946701,0.065744,-4.797222,93.997761,0.527651,0.000000,0.074172,1
3,4,AK,1A,1,P glauca,2019-05-01,-149.71571,68.018576,1,5,...,10.464564,0.005,344.026717,0.328752,0.015385,93.797640,0.562969,185.708290,0.098590,0
4,5,AK,1A,1,P glauca,2019-06-01,-149.71571,68.018576,1,6,...,10.543083,0.002,349.208780,0.132487,5.043056,92.596726,0.415431,212.142556,0.289046,0

In [11]:
df['air_pressure_cat'] = pd.qcut(df['average_air_pressure'], 3,
                                 labels=['low','medium','high'])

In [12]:
df['humidity_cat'] = pd.cut(df['average_humidity'],
                            bins=[0,30,60,100],
                            labels=['dry','comfortable','humid'])

In [13]:
df['solar_cat'] = pd.qcut(df['avg_solar_irradiance'], 4,
                          labels=['Q1','Q2','Q3','Q4'])

In [14]:
df['soil_moist_cat'] = pd.qcut(df['avg_soil_water_content'], 3,
                               labels=['dry','moderate','wet'])

In [15]:
df.head(1)

,Unnamed: 0,site,tree,plot,species,Date,longitude,latitude,da,mo,...,average_air_temperature,average_air_pressure,average_humidity,avg_solar_irradiance,avg_soil_water_content,freeze_flag,air_pressure_cat,humidity_cat,solar_cat,soil_moist_cat
0,1,AK,1A,1,P glauca,2019-01-01,-149.71571,68.018576,1,1,...,-4.218056,89.953835,0.840035,0.0,0.077694,1,low,dry,Q1,dry

In [16]:
df.to_csv('categorized_data.csv', index=False)